html, body {
    background-color:#D3D3D3;
}

.div {
    margin-top:10px;
}

.left {
    color:black;
    font-size:12px;
    float:left;
    height:1200px;
    width:250px;
    padding:50px;
    font-family:"Comic Sans MS"
}

.right {
    float:right;
    height:1200px;
    width:600px;
    font-family:"Comic Sans MS"
}

.wrapper { 
    width:950px;
    margin:0 auto;
}

.resume {
    height:1200px;
    width:950px;
    margin:0 auto;
}
